<%= link_to "Update my Task", task_edit_path %>
<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<h2><%= @completed %></h2>
<%= link_to "Back to my tasks", tasks_path %>



<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }  %>
